# Python cache
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env
*.env

# Django
db.sqlite3
**/media/
**/staticfiles/
*.log

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# IDE settings (PyCharm)
**/.idea/

#code formatter
.flake8
pyproject.toml

# Dumps
dump.json
