DJANGO_SETTINGS_MODULE=library_service.settings.dev

SECRET_KEY=your_secret_key

TELEGRAM_BOT_TOKEN=your_telegram_bot_token(80643280h:AAfgc-THr885238VTFpGKT-jYCw8fg856ghA)
TELEGRAM_CHAT_ID=your_telegram_chat_id(-155555555558)

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=yourf_stripe_publishable_key


POSTGRES_HOST_DEV=db

POSTGRES_DB_PORT=5432
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_HOST=db_host
POSTGRES_DB=db_name

PRODUCTION_DOMAIN=your_production_domain